<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <!-- Header -->
    @Html.Partial("_Header")

    <!-- Container -->
    @RenderBody()

    @Html.Partial("_Modals")

    <!-- Image of location/map -->
    <img src="~/assets/img/map.jpg" class="img-responsive" style="width:100%">

    <!-- Footer -->
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    

</body>
</html>
